[Desktop Entry]
Type=Application
Exec=connman-gtk
Hidden=false
X-MATE-Autostart-enabled=true
Name=ConnMan GTK
Name[en_US]=ConnMan GTK
Comment=
Comment[en_US]=

